* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: hsl(210, 46%, 95%);
    font-size: 13px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 500;
}

main {
    margin: 2rem 1rem;
}

main .profile-template {
    margin: 1rem ;
    background: white;
    color: hsl(217, 19%, 35%);
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 10px 100px rgba(0,0,0,0.2);
}

main .profile-template .profile {
    display: flex;
    justify-content: start;
    align-items: center;
}

main .profile-template .profile img{
    border-radius: 50%;
    height: 30px;
}

main .profile-template .profile .about {
    padding-left: 1rem;
}

main .profile-template .profile .about .name {
    font-weight: 600;
    font-size: 1rem;
}

main .profile-template .profile .about .position {
    color: hsla(217, 19%, 35%,0.6);
}

main .profile-template .info-1 {
    padding: 1.3rem 0 1rem;
    font-size: 1.3rem;
    font-weight: 600;
}

main .profile-template .info-2 {
    color: hsla(217, 19%, 35%,0.6);
    padding-bottom: 0.3rem;
    line-height: 1.1rem;
    font-weight: 600;
}

main .profile-template:nth-child(1) {
    background: hsl(263, 55%, 52%);
    color: white;
    background-size: 100%, 50%;
    position: relative;
    z-index: -10;
    box-shadow: none;
}


main .profile-template:nth-child(1) .comma{
    position: absolute;
    top: 0;
    height: 120px;
    right: 30px;
    z-index: -10;
}

main .profile-template:nth-child(1) .info {
    z-index: 1;
}

main .profile-template:nth-child(1) .info-2 {
    color: hsla(210, 46%, 95%,0.5);
}

main .profile-template:nth-child(1) .profile .about .position {
    color: hsla(210, 46%, 95%,0.5);;
}

main .profile-template:nth-child(2) {
    background:hsl(217, 19%, 35%);
    box-shadow: none;
    color: white;
}

main .profile-template:nth-child(2) .info-2 {
    color: hsla(210, 46%, 95%,0.5);
}

main .profile-template:nth-child(2) .profile .about .position {
    color: hsla(210, 46%, 95%,0.5);;
}

main .profile-template:nth-child(4) {
    box-shadow: none;
    background: hsl(219, 29%, 14%);
    color: white;
}

main .profile-template:nth-child(4) .info-2 {
    color: hsla(210, 46%, 95%,0.5);
}

main .profile-template:nth-child(4) .profile .about .position {
    color: hsla(210, 46%, 95%,0.5);;
}

@media only screen and (min-width: 768px) {
    body {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main {
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(4, 300px);
        grid-template-rows: repeat(2,320);
        /* grid-auto-rows: minmax(100px,auto); */
    }

    main .profile-template:nth-child(1) {
        grid-column: 1/3;
    }

    main .profile-template:nth-child(1) .comma {
        right: 100px;
    }

    main .profile-template:nth-child(3) {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    main .profile-template:nth-child(4) {
        grid-column: 2/4;
    }

    main .profile-template:nth-child(5) {
        grid-row: 1/3;
        grid-column: 4/5;
    }


}